<h2>ご支援のお願い</h2>
<h3>support</h3>

<div class="margin"></div>
<img class="support-top-img" src="../../assets/Vector(img1).svg" alt="">
<img class="support-bottom-img" src="../../assets/Vector(img2).svg" alt="">
<ion-card>
  <ion-card-title>
    <h2>余っている食材<br>いただけませんか？</h2>
  </ion-card-title>
  <ion-card-content>
    <p>『神原にこにこkitchen』では、販売はできないけど、賞味期限内の食品、形の悪い野菜など食べるには十分な食材の寄付を募っております。個人様、企業様、団体様どなたでも承っております。お問い合わせからご連絡ください。子どもたちの明るい未来のためにもご協力をお願いいたします。
    </p>
  </ion-card-content>
</ion-card>
<div class="margin"></div>
