<div class="support-wrapper">
  <div class="margin"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeLg="6" appViewportAnimation animationClass="animate__fadeInUp">
        <ion-card >
          <ion-card-header>
            <ion-card-title>
              <ion-text color="tertiary"><h2>ぜひ子どもの笑顔を<br>一緒に作ってください</h2></ion-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="subtitle-container">
              <h3>活動の趣旨・目的</h3>
              <div class="custom-line"></div>
            </div>
            <p>
              私ども「神原にこにこkitchen」は、地域の子どもたちにバランスの取れた食事を提供すること、安心できていつでも立ち寄れる温かい居場所を提供する活動です。そして、毎日家事、育児、仕事に追われるお母さんたちを助けるためのものでもあります。忙しい日常の中で、子どもたちの食事の準備や心配を少しでも軽減できるよう、通じては、お母さんたちが少しでも息抜きの時間を持てるような時間も提供しています。
            </p>
            <div class="subtitle-container">
              <h3>運営支援のお願い</h3>
              <div class="custom-line"></div>
            </div>
            <p>
              しかし、この活動を続けるためには皆様のご支援が不可欠です。食材の提供、運営資金、ボランティアの方々のサポートなど、多くの要素が必要となります。今回、私たちの活動をより多くの子どもたちとその家族に届けるため、ご支援・寄付をお願いしております。<br>
              子どもたちが笑顔で食事を楽しむ姿、そしてお母さんたちが少しでも安心して過ごせる時間を増やすため、皆様の温かいご支援をお願いいたします。食材の寄付、運営資金の提供、ボランティアとしての参加など、さまざまな形でのご支援をどうぞよろしくお願いします。
            </p>
            <div class="subtitle-container">
              <h3>ご支援について</h3>
              <div class="custom-line"></div>
            </div>
            <p>
              ご支援の一例は以下の通りです。<br>
              <ion-text color="danger" style="font-family: Inter;"><b> ◉ 食材の寄付</b></ion-text><br>　野菜や果物、乾物、形が崩れているもの、賞味期限が近いなど食べても健康に影響のない食材であれば受け付けております。<br>
              <ion-text color="danger" style="font-family: Inter;"><b> ◉ 運営資金の提供</b></ion-text><br>　活動の継続や拡大のための資金提供をお願いしております。<br>
              <ion-text color="danger" style="font-family: Inter;"><b> ◉ ボランティアへの参加</b></ion-text><br>　子どもたちと一緒に食事を楽しむボランティアの方々を募集しております。<br>
            </p>
            <div class="subtitle-container">
              <h3>最後に</h3>
              <div class="custom-line"></div>
            </div>
            <p>
              私たちの活動に共感していただける方、子どもたちとその家族の未来を応援していただける方、どんな形でのご支援も心より感謝いたします。一緒に、子どもたちとその家族の笑顔あふれる未来を作り上げていきましょう。
              もしご共感いただけた方は、ぜひ下記の「お問い合わせ」からご連絡いただければ幸いです。
              最後に、これまで私たちの活動を支えてくださっている皆様にも、心からの感謝を申し上げます。今後とも、神原にこにこkitchenをよろしくお願い申し上げます。<br><br>
            </p>
            <p style="text-align: right;">
              神原にこにこkitchen 一同
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeLg="6" class="lg-container-wrapper">
        <div class="lg-container">
          <img src="../../../assets/VectorsVector(blue2).svg" style="position: absolute; left: 5%;"
          appViewportAnimation animationClass="animate__zoomIn" animationDelay="animate__delay-1s">

          <img src="../../../assets/BG_SVG/ミックスグリル.svg" style="position: absolute; width: 30%; top: 450px; left: 5%; transform: rotate(10deg); z-index: 100;"
          appViewportAnimation animationClass="animate__jackInTheBox" animationDelay="animate__delay-2s">

          <img src="../../../assets/Vector(yellow).svg" style="position: absolute; top: 250px; right: 0;"
          appViewportAnimation animationClass="animate__zoomIn">

          <img src="../../../assets/BG_SVG/ポテトサラダ.svg" style="position: absolute; width: 30%; top: 900px; right: 2%; transform: rotate(-10deg); z-index: 10;"
          appViewportAnimation animationClass="animate__jackInTheBox" animationDelay="animate__delay-2s">

          <img src="../../../assets/Vector(top-purple).svg" style="position: absolute; top: 700px; left: -2%;"
          appViewportAnimation animationClass="animate__zoomIn">

          <img src="../../../assets/Vector(top-orange).svg" style="position: absolute; top: 1000px; left: 50%;"
          appViewportAnimation animationClass="animate__zoomIn">

          <img src="../../../assets/BG_SVG/クリームソーダ.svg" style="position: absolute; width: 15%; top: 1100px; left: 10%; transform: rotate(20deg); z-index: 10;"
          appViewportAnimation animationClass="animate__jackInTheBox" animationDelay="animate__delay-2s">

          <img src="../../../assets/Vector(red).svg" style="position: absolute; top: 1300px; right: 0;"
          appViewportAnimation animationClass="animate__zoomIn">

          <img src="../../../assets/child_food.png" alt="子どもが遊ぶ写真" style="position: absolute; width: 70%; top: 100px; left: 10%;"
          appViewportAnimation animationClass="animate__zoomIn" animationDelay="animate__delay-2s">
          <img src="../../../assets/child_food_fish.png" alt="子どもが魚を食べる写真" style="position: absolute; width: 70%; top: 600px; right: 5%;"
          appViewportAnimation animationClass="animate__zoomIn" animationDelay="animate__delay-2s">
          <img src="../../../assets/child.png" alt="" style="position: absolute; width: 70%; top: 1200px; right: 15%;"
          appViewportAnimation animationClass="animate__zoomIn" animationDelay="animate__delay-2s">
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="margin"></div>
  <button routerLink="/contact">お問い合わせ</button>
</div>
