<img src="../../assets/Vector(main).svg" class="vector-pink animate__animated animate__zoomIn animate__delay-3s">
<img src="../../assets/Vector(top-green).svg" class="vector-green animate__animated animate__zoomIn animate__delay-3s">
<img src="../../assets/Vector(top-blue).svg" class="vector-blue  animate__animated animate__zoomIn animate__delay-3s" style="margin-top: 80px;">

<ion-grid>
  <ion-row>
    <ion-col size="12"><img src="../../assets/BG_SVG/ハンバーグ.svg" style=" display: block;  margin: 0 10% 0 auto; rotate: 10deg;" class="hamburg animate__animated animate__jackInTheBox animate__delay-5s"></ion-col>
    <ion-col size="12"><img src="../../assets/CHILD_SVG/アセット 7.svg" style="display: block; margin: 0 auto 0 10%;" class="woman1 animate__animated animate__jackInTheBox animate__delay-3s"></ion-col>
    <ion-col size="12"><h1 class="animate__animated animate__fadeInDown animmate__duration-2s animate__delay-1s">ちょっと一息できる場所がここにある</h1></ion-col>
    <ion-col size="12"><img src="../../assets/CHILD_SVG/アセット 10.svg" style="display: block; margin: 0 25% 0 auto;" class="man1 animate__animated animate__jackInTheBox animate__delay-3s"></ion-col>
    <ion-col size="12"><img src="../../assets/BG_SVG/ハンバーガー.svg" style="display: block; margin: 0 auto 0 10%; rotate: 10deg;" class="hamburger animate__animated animate__jackInTheBox animate__delay-3s"></ion-col>
    <ion-col size="12"><img src="../../assets/BG_SVG/シーザーサラダ.svg" style="display: block; margin: 0 5% 0 auto; rotate: -10deg;" class="salad animate__animated animate__jackInTheBox animate__delay-3s"></ion-col>
  </ion-row>
</ion-grid>
