
<h1 class="animate__animated animate__fadeInDown animmate__duration-2s animate__delay-1s">ちょっと一息できる場所がここにある</h1>
<img src="../../assets/Vector(top-green).svg" class="vector-green animate__animated animate__zoomIn animate__delay-2s"><br />
<img src="../../../assets/Vector(top-purple).svg" class="vector-purple animate__animated animate__zoomIn animate__delay-3s">
<img src="../../../assets/Vector(top-orange).svg" class="vector-orange animate__animated animate__zoomIn animate__delay-3s">
<img src="../../../assets/Vector(top-sky).svg" class="vector-sky animate__animated animate__zoomIn animate__delay-3s">
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col class="lg-1" size="5" offset="1" size-md="4" offsetMd="1" pullMd="1" sizeLg="2" offsetLg="4" pullLg="3">
      <br />
      <img src="../../../assets/CHILD_SVG/アセット 7.svg" class="woman1 animate__animated animate__jackInTheBox animate__delay-3s"><br />
    </ion-col>
    <ion-col size="5" offset="1"  size-md="4" pullMd="2" sizeLg="2" offsetLg="4" pullLg="1">
      <img src="../../../assets/BG_SVG/ハンバーグ.png" class="hamburg animate__animated animate__jackInTheBox animate__delay-3s">
    </ion-col>
    <ion-col size="12" sizeMd="10" offsetMd="2" sizeLg="12" offsetLg="9">
      <img src="../../../assets/Vector(main).svg" class="vector-pink animate__animated animate__zoomIn animate__delay-2s">
    </ion-col>
    <ion-col class="lg-2" size="6" sizeMd="5" offsetMd="1" pullMd="1" sizeLg="4" offsetLg="2">
      <ion-grid>
        <ion-row>
          <ion-col size="11" offset="1" sizeLg="6" offsetLg="1" pullLg="1">
            <img src="../../../assets/BG_SVG/ハンバーガー.svg" style="display: block;" class="hamburger animate__animated animate__jackInTheBox animate__delay-3s">
          </ion-col>
          <ion-col size="12" push="3" pushMd="5" sizeLg="6" >
            <img src="../../../assets/Vector(top-blue).svg" class="vector-blue  animate__animated animate__zoomIn animate__delay-2s">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col class="lg-3" size="6" sizeMd="5" offsetMd="1" sizeLg="4" pullLg="1">
      <ion-grid>
        <ion-row>
          <ion-col size="12" sizeLg="7" offset="2" pushLg="3">
            <img src="../../../assets/CHILD_SVG/アセット 10.svg" style="display: block;" class="man1 animate__animated animate__jackInTheBox animate__delay-3s">
          </ion-col>
          <ion-col size="12" pullMd="3" sizeLg="6" offset="2">
            <img src="../../../assets/BG_SVG/シーザーサラダ.svg" style="display: block;" class="salad animate__animated animate__jackInTheBox animate__delay-3s">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>


<!-- <ion-content>
<h1 class="animate__animated animate__fadeInDown animmate__duration-2s animate__delay-1s">ちょっと一息できる場所がここにある</h1>
<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="4" size-lg="12">
      <img src="../../assets/CHILD_SVG/アセット 7.svg" class="woman1 animate__animated animate__jackInTheBox animate__delay-3s"><br />
      <br />
      <br />
    </ion-col>
    <ion-col size="4" size-lg="12">
      <br />
      <img src="../../assets/Vector(top-green).svg" class="vector-green animate__animated animate__zoomIn animate__delay-3s"><br />
      <br />
    </ion-col>
    <ion-col size="4" size-lg="12">
      <br />
      <br />
      <img src="../../../assets/BG_SVG/ハンバーグ.svg" class="hamburg animate__animated animate__jackInTheBox animate__delay-3s"><br />
    </ion-col>
    <ion-col size="12">
      <br />
      <br />
      <img src="../../assets/Vector(main).svg" class="vector-pink animate__animated animate__zoomIn animate__delay-3s">
      <br />
    </ion-col>
    <ion-grid>
      <ion-row></ion-row>
    </ion-grid>
    <ion-col size="3">
      <br />
      <br />
      <br />
      <img src="../../assets/Vector(top-blue).svg" class="vector-blue  animate__animated animate__zoomIn animate__delay-3s">
    </ion-col>
    <ion-col size="3">
      <br />
      <img src="../../assets/BG_SVG/ハンバーガー.svg" style="display: block;" class="hamburger animate__animated animate__jackInTheBox animate__delay-3s">
      <br />
      <br />
    </ion-col>
    <ion-col size="3">
      <img src="../../assets/CHILD_SVG/アセット 10.svg" style="display: block;" class="man1 animate__animated animate__jackInTheBox animate__delay-3s">
      <br />
      <br />
      <br />
    </ion-col>
    <ion-col size="3">
      <br />
      <br />
      <img src="../../assets/BG_SVG/シーザーサラダ.svg" style="display: block;" class="salad animate__animated animate__jackInTheBox animate__delay-3s">
      <br />
    </ion-col>
    <ion-col size="12"><img src="../../assets/Vector(top-purple).svg" class="vector-purple  animate__animated animate__zoomIn animate__delay-3s"></ion-col>
  </ion-row>
</ion-grid>
</ion-content> -->
