
<h2>管理者ログイン</h2>

<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <ion-input id="email" type="email" formControlName="email" label="Email" labelPlacement="floating" helperText="admin-adress@example.com" errorText="アドレスの形式ではありません"></ion-input>

    <ion-input id="password" type="password" formControlName="password" label="password" labelPlacement="floating" helperText="英数字・記号で6文字以上です" errorText="条件に合致しません"></ion-input>

    <ion-button expand="full" type="submit" color="success" [disabled]="!loginForm.valid">ログイン</ion-button>

  </form>
</div>



