<ion-card>
  <ion-card-header>
    <ion-card-title><h2>管理者ログイン</h2></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <ion-input id="email" type="email" formControlName="email" label="Email" labelPlacement="floating" helperText="admin-adress@example.com" errorText="アドレスの形式ではありません"></ion-input>

      <ion-input id="password" type="password" formControlName="password" label="password" labelPlacement="floating" helperText="英数字・記号で6文字以上です" errorText="条件に合致しません"></ion-input>

      <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">ログイン</ion-button>

    </form>
  </ion-card-content>
</ion-card>
