ion-card-content {
  background: #ffddb9;
  * {
    background: #ffddb9;
    ion-item {
      --background: #ffddb9;
    }
  }
}

ion-card {
  width: 90%;
  margin: 50% auto auto auto;
}

ion-item:hover {
  width: 100%;
  color: #ff0099;
  * {
    padding: 0 !important;
  }
}

p {
  margin: auto 0 auto auto;
  font-size: small;
  color: #747474;
}


@media screen and (min-width: 992px) {

  ion-card {
    * {
      font-size: large;
    }
    width: 50%;
    margin: 10% auto auto auto;

    div {
      margin-left: 5%;
    }
    h3 {
      margin-left: 3%;
    }
    p {
      margin-right: 3%;
    }
  }
}
