<!-- <img class="yellow" src="../../assets/Vector(yellow).svg">
<img class="pink-info" src="../../assets/Vector(pink2).svg"> -->


<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let article of articles">
        <div style="width: 45px; display: inline-block;"><img  *ngIf="isNew(article.timestamp!)" src="../../../assets/new.png" alt="newのバッジ" style="width: 40px; margin-right:5px;"></div>
        <h3><a [routerLink]="['/article', article.articleId]">{{ article.title }}</a></h3>
        <p>{{ article.timestamp | date: 'MM/dd' }}</p>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
