
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-card-title>申込フォーム</ion-card-title>
      <ion-card-subtitle>神原にこにこkitchen</ion-card-subtitle>
    </ion-card-header>
    <div appViewportAnimation animationClass="animate__fadeInUp" animationDelay="animate__delay-1s" class="custom-line"></div>
    <ion-card-content>
      <form [formGroup]="applicationForm" (ngSubmit)="sendValue()">
        <div formArrayName="applicants">
          <div *ngFor="let applicant of applicants.controls; let i = index" [formGroupName]="i">
            <h3>お申し込み  {{ i + 1 }}人目</h3>

            <ion-item>
              <ion-input type="text" formControlName="name" label="名前"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" formControlName="furigana" label="ふりがな"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="number" formControlName="age" label="年齢"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>性別</ion-label>
              <ion-radio-group formControlName="gender">
                <ion-item>
                  <ion-radio value="male" aria-label="男性">男性</ion-radio>
                </ion-item>
                <ion-item>
                  <ion-radio value="female" aria-label="女性">女性</ion-radio>
                </ion-item>
                <ion-item class="bottom">
                  <ion-radio value="other" aria-label="その他">その他</ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-item>

            <ion-item>
              <ion-label>食事</ion-label>
              <ion-radio-group formControlName="mealType">
                <ion-item>
                  <ion-radio value="adult" label="大人食">大人食</ion-radio>
                </ion-item>
                <ion-item>
                  <ion-radio value="child" label="子ども食">こども食</ion-radio>
                </ion-item>
                <ion-item class="bottom">
                  <ion-radio value="baby" label="離乳食">離乳食</ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-item>


            <ion-item>
              <ion-select formControlName="arrivalTime" label="来店時間">
                  <ion-select-option *ngFor="let time of availableTimes" [value]="time">{{ time }}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
                <ion-textarea formControlName="remarks" fill="solid" label="備考欄" labelPlacement="floating" class="bottom"></ion-textarea>
            </ion-item>
            <ion-button class="add-form" expand="full" type="button" (click)="addApplicant()">申込を追加</ion-button>
            <ion-button class="delete-form" expand="full" color="danger" *ngIf="applicants.controls.length > 1" (click)="removeApplicant(i)">申込を削除</ion-button>
          </div>
        </div>

        <ion-item>
          <ion-label>来店日選択</ion-label>
          <ion-radio-group formControlName="selectedEvent">
            <ion-item *ngFor="let event of availableEvents"  class="bottom">
              <ion-radio [value]="event.eventId" label="開店日" labelPlacement="end">{{ event.date | date: 'MM月dd日' }}</ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>

        <ion-button type="submit" expand="full" color="success" class="send">送信</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
