
<!-- <img class="blue-place" src="../../assets/VectorsVector(blue2).svg" alt="背景用の画像"> -->
<div></div>
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="4">
      <ion-card appViewportAnimation animationClass="animate__fadeInDown" animationDelay="animate__delay-1s" class="card1">
        <img class="place-img" src="../../assets/../assets/dining.svg" alt="実際の食堂の画像">
        <img class="mask" src="../../assets/Mask group.svg">
        <article>
          <h2>食堂</h2>
          <div class="line"></div>
          <p>20人が入れる広さのある食堂です。みんなで一緒に食べるご飯はお子さんにとって、とても楽しい賑やかなご飯になるはず。乳児用、幼児用の椅子や食器類も十分な数があるので、ご持参いただかなくても大丈夫です。配膳から片付けまでこちらのスタッフが行いますので、手間要らずです。</p>
        </article>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-lg="4">
      <ion-card appViewportAnimation animationClass="animate__fadeInDown" animationDelay="animate__delay-1s" class="card2">
        <img class="place-img" src="../../assets/../assets/play-room.svg" alt="食堂のサンプル画像">
        <img class="mask" src="../../assets/Mask group.svg">
        <article>
          <h2>キッチン</h2>
          <div class="line"></div>
          <p>県認可の衛生責任者も在籍しておりますので、衛生面もお任せください。料理は、バランスよく栄養を取り入れたメニューを調理師による調理で栄養、味、共にバッチリです。ご希望であれば、事前に注文いただければ離乳食も可能ですので、小さいお子さんも一緒にお連れいただくこともできますよ。</p>
        </article>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-lg="4">
      <ion-card appViewportAnimation animationClass="animate__fadeInDown" animationDelay="animate__delay-1s" class="card3">
        <img class="place-img" src="../../assets/../assets/play-room.svg" alt="食堂のサンプル画像">
        <img class="mask" src="../../assets/Mask group.svg">
        <article>
          <h2>プレイルーム</h2>
          <div class="line"></div>
          <p>ご飯を食べる前後には、スタッフと一緒に遊んだり、宿題をしたりと自由な時間を過ごせます。スタッフと遊ぶので、お母さんたちはお茶をしながら、ゆっくりとした時間が過ごせます。日頃の育児、家事を一旦お休みして、お子さんもお母さんたちも楽しい時間を過ごしませんか？</p>
        </article>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
