
<img class="blue-place" src="../../assets/VectorsVector(blue2).svg" alt="背景用の画像">


<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="4">
      <ion-card>
        <img class="place-img" src="../../assets/../assets/dining.svg" alt="食堂のサンプル画像">
        <img class="mask" src="../../assets/Mask group.svg" alt="ぼかした図形の写真">
        <article>
          <h2>食堂</h2>
          <div class="line-place"></div>
          <p>みんなで食べるご飯は、お子さんにとってとても楽しいはず。メニューも栄養もバランスよく考えたもので、健康面もバッチリです。室内の物も最小限で、けがの心配も少なく、県認可の衛生責任者も在籍しておりますので、衛生面もお任せください。</p>
        </article>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="4">
      <ion-card>
        <img class="place-img" src="../../assets/../assets/play-room.svg" alt="食堂のサンプル画像">
        <img class="mask" src="../../assets/Mask group.svg" alt="">
        <article>
          <h2>プレイルーム</h2>
          <div class="line-place"></div>
          <p>ご飯を食べる前後には、スタッフと一緒に遊んだり、宿題をしたりと自由な時間を過ごします。スタッフと遊ぶので、お母さんたちはお茶をしながら、ゆっくりとした時間が過ごせます。お子さんもお母さんたちも楽しい時間を過ごしませんか？</p>

        </article>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="4">
      <ion-card>
        <img class="place-img" src="../../assets/../assets/play-room.svg" alt="食堂のサンプル画像">
        <img class="mask" src="../../assets/Mask group.svg" alt="">
        <article>
          <h2>プレイルーム</h2>
          <div class="line-place"></div>
          <p>ご飯を食べる前後には、スタッフと一緒に遊んだり、宿題をしたりと自由な時間を過ごします。スタッフと遊ぶので、お母さんたちはお茶をしながら、ゆっくりとした時間が過ごせます。お子さんもお母さんたちも楽しい時間を過ごしませんか？</p>

        </article>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
