<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="end">
      <ion-tab-button tab="event-list">
        <ion-icon name="browsers"></ion-icon>
        <ion-label>イベント</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="inquiry-list">
        <ion-icon name="mail"></ion-icon>
        <ion-label>問い合わせ</ion-label>
        <ion-badge *ngIf="uncompletedCount > 0">{{ uncompletedCount }}</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="article-list">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>投稿</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="logOut()">
        <ion-icon name="close-circle-outline"></ion-icon>
        <ion-label>ログアウト</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>
