<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>管理者ダッシュボード</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="events">
        <ion-label>イベント一覧</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="inquiries">
        <ion-label>問い合わせ一覧</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="posts">
        <ion-label>記事投稿一覧</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-tab-button (click)="logOut()">
    <ion-icon name="camera"></ion-icon>
    <ion-label>ログアウト</ion-label>
  </ion-tab-button>
</ion-content>
