ion-segment {
  width: 50%;
  margin: 5% auto 5% auto ;
  --background: #efa940;
}

ion-card {
  width: 85%;
  height: auto;
  margin: 5% auto;
  .edit-mode {
    color: blue;
    font-weight: bold;
  }


  ion-item {
    margin: 3%;
    ion-input {
      margin: 1% auto 3% auto;
    }
  }
  .checkbox-container {
    margin-bottom: 50px;
  }
  .preview-container {
    margin: auto;
    .preview {
      display: block;
      margin: auto;
    }
  }

}

.false {
  width: 90%;
  * {
    margin: 3% auto 3% auto;
  }
  h6 {
    text-align: right;
  }
  ion-card-header {
    text-align: center;
  }
  ion-card-content {
    h4 {
      text-align: left;
    }
  }

}



ion-button {
  width: 50%;
  margin: 10% auto 5% auto;
}
.change {
  margin-top: 20%;
}

@media screen and (min-width: 576px){
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  .false {
    ion-card-header {
      ion-card-title {
        order: 1;
      }
      ion-card-subtitle {
        order: 2;
      }
    }

  }

}

@media screen and (min-width: 992px) {

  ion-item {
    ion-input {
      font-size: 1.5rem;
    }
    ion-textarea {
      font-size: 1.5rem;
    }
  }
  ion-segment {
    width: 50%;
    margin: 5% auto auto auto;
    --background: #ffffff;
  }


  .false {
    width: 50%;
    .article-image {
      order: 10;
    }

  }

  .true {
    width: 60%;
  }

  .upload {
    width: 30%;
    font-weight: bold;
    margin-top: 30px;
  }
  .change {
    width: 30%;
    font-weight: bold;
    margin-top: 100px;
  }


}
