<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/article-list"></ion-back-button>
    </ion-buttons>
    <ion-title>記事の詳細</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="articleForm" (ngSubmit)="setImageURL()">
    <ion-segment (ionChange)="toggleEditMode($event)" value="default" [value]="isEditing ? 'true' : 'false'">
      <ion-segment-button value="false">
        <ion-label>view</ion-label>
      </ion-segment-button>
      <ion-segment-button value="true">
        <ion-label>edit</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- isEditing=falseの場合-->
    <div *ngIf="!isEditing">
      <ion-card class="false ion-padding">
        <h6>{{ articleForm.value.timestamp | date:'yyyy年MM月dd日' }}</h6>
        <ion-card-header>
          <ion-card-subtitle>{{ articleForm.value.subtitle }}</ion-card-subtitle>
          <ion-card-title>{{ articleForm.value.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12" style="height: 30px;">
                <div *ngFor="let type of articleTypes" style="height: 30px;">
                  <!-- <ion-chip *ngIf="selectedTypes.includes(type.value)" [ngStyle]="{'background-color': type.color}">
                    {{ type.label }}
                  </ion-chip> -->
                </div>
              </ion-col>
              <ion-col size="12" class="article-image">
                <div *ngIf="articleForm.value.imageUrl" class="image-container">
                  <img [src]="articleForm.value.imageUrl" alt="Article image" style="display: block; width:80%; height:auto;">
                </div>
              </ion-col>
              <ion-col size="2">
                <ion-icon name="calendar-number-outline" size="large" color="tertiary"></ion-icon>
              </ion-col>
              <ion-col size="10" sizeLg="4">
                <h4 style="color: #5260ff;">{{ articleForm.value.date | date: 'yyyy年MM月dd日' }}</h4>
              </ion-col>
              <ion-col size="2">
                <ion-icon name="location-outline" size="large" color="danger"></ion-icon>
              </ion-col>
              <ion-col size="10" sizeLg="4">
                <h4 style="color: #eb445a;">{{ articleForm.value.place }}</h4>
              </ion-col>
              <ion-col size="12">
                <p>{{ articleForm.value.content }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <!-- isEditing=true（編集モード）の場合-->
    <div *ngIf="isEditing">
      <ion-card class="true">
        <ion-card-header>
          <ion-card-title>
            <h2 class="edit-mode">EDIT MODE</h2>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="articleForm" (ngSubmit)="submitAlert()">
            <ion-item>
              <ion-input label="タイトル" formControlName="title" type="text" labelPlacement="stacked"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="サブタイトル" formControlName="subtitle" type="text" labelPlacement="stacked"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="日付" formControlName="date" type="date" labelPlacement="stacked"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="場所" formControlName="place" type="text" labelPlacement="stacked"></ion-input>
            </ion-item>

            <div formArrayName="types">
              <ion-item *ngFor="let type of allArticleTypes; let i = index" slot="start" lines="none">
                <ion-checkbox [formControlName]="i" class="custom-textarea">{{type}}</ion-checkbox>
              </ion-item>
            </div>


            <ion-item class="checkbox-container">
              <ion-textarea label="内容" row="6" formControlName="content" labelPlacement="stacked"></ion-textarea>
            </ion-item>

            <!-- 画像プレビューと変更 -->
            <div *ngIf="articleForm.get('imageUrl')?.value" class="preview-container">
              <img [src]="articleForm.get('imageUrl')?.value" alt="記事の画像" class="preview">
              <input type="file" #imageInput (change)="onImageChange($event)" style="display: none" /> <!-- 隠しファイル入力 -->
              <ion-button type="button" expand="full" (click)="imageInput.click()" class="upload">画像を変更</ion-button> <!-- imageInputのclickメソッドを呼び出す -->
            </div>

            <ion-button color="success" type="submit" [disabled]="!articleForm.valid" expand="full" class="change ion-margin">更新する</ion-button>
          </form>
        </ion-card-content>
      </ion-card>

    </div>
  </form>
</ion-content>
