ion-segment {
  width: 50%;
  height: auto;
  margin: 5% auto 5% auto ;
  --background: #ffffff9c;
}

ion-card {
  width: 85%;
  height: auto;
  margin: 5% auto;
  h2 {
    color: blue;
    font-weight: bold;
  }

  ion-item {
    margin: 3%;
    ion-input {
      margin: 3% auto 3% auto;
    }
  }
}

.false {
  ion-card-header {
    width: 85%;
    margin: 5% auto auto auto;
    h6 {
      text-align: right;
    }
    ion-card-title, ion-card-subtitle {
      margin: 5%;
    }
  }
  .custom-line {
    margin: 15px auto 0 auto;
    height: 1px; /* 直線の高さ */
    background-color: #333; /* 直線の色 */
    width: 85%;
  }
  ion-card-content {
    width: 80%;
    margin: 5% auto auto auto;
  }
  img {
    display: block;
    width: 80%;
    margin: 5% auto 5% auto;
  }

}

ion-button {
  width: 50%;
  margin: 10% auto 10% auto;
}

@media screen and (min-width: 576px){
}

@media screen and (min-width: 577px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) {

  ion-item {
    ion-input {
      font-size: 2.3rem;
    }
    ion-textarea {
      font-size: 2rem;
    }
  }
  ion-segment {
    width: 50%;
    height: auto;
    margin: auto 0 auto auto;
    --background: #ffffff9c;
  }
  .buttons {
    .delete {
      margin: auto 5% auto auto;
      width: 50%;
      font-weight: bold;
    }
    .change {
      margin: auto auto auto 0;
      width: 50%;
      font-weight: bold;

    }
  }

  .false {
    ion-card-header {
      ion-card-title {
        order: 1;
      }
      ion-card-subtitle {
        order: 2;
      }
    }
  }

}
