<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/article-list"></ion-back-button>
    </ion-buttons>
    <ion-title>新規作成</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-input formControlName="title" [counter]="true" maxlength="13" label="タイトル" labelPlacement="floating" style="--border-color: none;" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="subtitle" label="サブタイトル" labelPlacement="floating" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="date" type="date" label="日時" helperText="記事を書く日ではなくて、記事のことがあった日を記入" labelPlacement="floating" style="--border-color: none;" required></ion-input>
      </ion-item>
      <div formArrayName="types" class="checkbox-container">
        <h6>ジャンル</h6>
        <ion-item *ngFor="let type of articleTypes; let i = index" class="checkbox-item" >
          <ion-checkbox slot="end" [formControlName]="i" style="--border-color: none;">{{ type.label }}</ion-checkbox>
        </ion-item>
      </div>
      <ion-item>
        <ion-input formControlName="place" label="開催場所" helperText="開催場所がない場合は、このまま「神原にこにこkitchen」" labelPlacement="floating" style="--border-color: none;" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea formControlName="content" row="6" label="内容" labelPlacement="floating" required></ion-textarea>
      </ion-item>


      <ion-item>
        <input type="file" (change)="onImagePicked($event)"/>
      </ion-item>
      <ion-img *ngIf="imagePreview" [src]="imagePreview" style="width: 200px; height: 200px;"></ion-img>

      <ion-button expand="full" type="submit" [disabled]="!articleForm.valid || isLoading" color="success">投稿</ion-button>
    </ion-list>
  </form>
</ion-content>
