<ion-header>
  <ion-toolbar>
    <ion-title>記事の投稿</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">タイトル</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">サブタイトル</ion-label>
      <ion-input formControlName="subtitle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">内容</ion-label>
      <ion-textarea formControlName="content"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">写真を選択</ion-label>
      <ion-input type="file" (change)="onImageSelected($event)"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!articleForm.valid">投稿</ion-button>
  </form>
</ion-content>
