
<!-- <div class="lamp-anime"> -->
  <!-- 電球 -->
  <!-- <img class="lamp" src="../../assets/電球/SVG/アセット 2.svg" alt="電球のSVG画像"> -->
  <!-- チェックマーク -->
  <!-- <img class="check" src="../../assets/電球/SVG/アセット 3.svg" alt="チェックマークのSVG画像"> -->
  <!-- 閃光 -->
  <!-- <img class="flash" src="../../assets/電球/SVG/アセット 1.svg" alt="閃光のSVG画像"> -->
<!-- </div> -->
<article class="vision1">
  <h2>楽しい食事</h2>
  <img class="eating" src="../../assets/Vector食事.svg" alt="背景用の食事をする画像">
  <img class="green" src="../../assets/vector(greeen).svg" alt="背景用の画像">
  <p>これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。</p>
</article>

<article class="vision2">
  <h2>楽しい遊び</h2>
  <img class="play" src="../../assets/Vector(play).svg" alt="背景用の食事をする画像">
  <img class="blue" src="../../assets/Vector(blue).svg" alt="背景用の画像">
  <p>これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。</p>
</article>
