
<article>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="article-container">
        <ion-grid >
          <ion-row >
            <ion-col class="main-container" size="12" sizeMd="7" appViewportAnimation animationClass="animate__fadeInUp" animationDelay="animate__delay-1s">
              <ion-gird>
                <ion-row>
                  <ion-col class="title-container" size="12">
                    <h3 class="title">楽しい食事</h3>
                  </ion-col>
                  <ion-col class="vector-container" size="5" pushXs="1">
                    <img class="green" src="../../assets/vector(greeen).svg">
                  </ion-col>
                  <ion-col class="image-container" size="7" pullXs="2">
                    <img class="eating" src="../../assets/Vector食事.svg" alt="食事をする画像">
                  </ion-col>
                </ion-row>
              </ion-gird>
            </ion-col>
            <ion-col class="sentence-container" pullMd="0.5">
              <p class="sentence"
              appViewportAnimation animationClass="animate__fadeInRight" animationDelay="animate__delay-1s">仕事など、親御さんが家に不在で、家族揃って一緒にご飯を食べることが少なくなりました。また、様々な事情を抱えた世帯で、毎日夕食を作る、食べることも大変です。私たちは子ども、親御さんたちの食事を提供することはもちろん、みんなで一緒に同じ釜のご飯を食べ、楽しく明るい時間を共有しています。
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col size="12" pushMd="1" class="article-container">
        <ion-grid>
          <ion-row>
            <ion-col class="main-container column1" size="12" sizeMd="7" appViewportAnimation animationClass="animate__fadeInUp" animationDelay="animate__delay-1s">
              <ion-gird>
                <ion-row>
                  <ion-col class="title-container" size="12" pullMd="1">
                    <h3 class="title">楽しい遊び</h3>
                  </ion-col>
                  <ion-col class="image-container" size="7" pushXs="2" pullLg="0.5">
                    <img class="playing" src="../../assets/Vector(play).svg" alt="子どもが遊んでいる画像">
                  </ion-col>
                  <ion-col class="vector-container" size="5" pullXs="2">
                    <img class="blue" src="../../assets/Vector(blue).svg">
                  </ion-col>
                </ion-row>
              </ion-gird>
            </ion-col>
            <ion-col class="sentence-container column2">
              <p class="sentence"
              appViewportAnimation animationClass="animate__fadeInLeft" animationDelay="animate__delay-1s">食事の時間だけでなく、その前後で自由に利用できる時間として、解放しています。それぞれが宿題をしたり、みんなで遊んだりできるような場所を用意しております。そこには、ボランティアさんも含めてスタッフも常駐しているので、安心して楽しく遊べる場所です。みんなで楽しく遊んで、新しい友達も増えること間違いなしです。</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</article>
<div></div>
