article {
  margin-top: 60px;
}

p {
  line-break: loose;
  margin: auto;
  width: 70%;
  font-size: 1.6rem;
  font-family: Inter;
  font-weight: 500;
  line-height: 180%;
}

.image-container {
  margin: auto;
}

.vector-container {
  .green {
    width: 100%;
  }
  .blue {
    position: relative;
    z-index: -10;
  }
}

.sentence-container {
  .sentence{
    margin: 50px auto 50px auto;
    width: 79%;
  }
}

div {
  margin-bottom: 80px;
}

@media screen and (min-width: 576px){
  .title-container {
    margin: 20px 0 20px 0;
  }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  .column1 {
    order: 2;
  }
  .column2 {
    order: 1;
  }

  .article-container {
    margin: 5% 0 5% 0;
    .sentence-container{
      .sentence{
        width: 90%;
        margin: 60px auto 0 auto;

      }
    }
  }

  h3 {
    font-size: 3rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 992px) {
  .column1 {
    order: 2;
  }
  .column2 {
    order: 1;
  }
  .article-container {
    margin-top: 10%;
    .image-container {
      .eating {
        width: 90%;
      }
      .playing {
        width: 90%;
      }
    }
    .vector-container {
      .blue {
        width: 90%;
      }
    }
    .sentence-container{
      margin: 80px auto 0 auto;
      .sentence{
        font-size: 2rem;
        width: 70%;
      }
    }
  }

  h3 {
    font-size: 3rem;
    font-weight: bold;
  }
}
