<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>開店日 一覧</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-md="5" size-lg="4" *ngFor="let event of events" class="container">
        <ion-grid>
          <ion-row>
            <ion-col size="10" class="contents"  (click)="openEditModal(event)">

              <p class="title">Opening date</p>
              <h3>{{ event.date }}</h3>
              <p class="open-time">開店時間： {{ event.startTime }} ~ {{ event.endTime }}</p>

            </ion-col>

            <ion-col size="2" class="buttons">
              <ion-button class="detail-button" [routerLink]="['/admin/event-detail', event.date]">
                <ion-icon name="list-outline"></ion-icon>
              </ion-button>
              <ion-button class="delete-button" color="danger" (click)="deleteEvent(event.eventId, event.date)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab>
    <ion-fab-button class="custom-fab" routerLink="/admin/event-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


