.footer-container {
  .site-map {
    padding: 20px 15px 15px 15px;
    h2 {
      text-align: left;
      font-size: 1.5rem;
    }
    li {
      text-align: left;
      width: 90%;
      margin: auto;
      font-size: 1.4rem;
      padding: 10px;
      border-bottom: 0.4px dashed black;
    }
  }
  .footer-column {
    padding-bottom: 40px;
    text-align: center;

    h6 {
      font-size: 12px;
    }

    h2 {
      color:#bb0000;
      font-weight: 500;
      font-family: ab-kotatsu, sans-serif;
      font-style: normal;
    }

  }
}
