<div class="footer-container">
  <div class="site-map">
    <h2>サイトマップ</h2>
    <nav>
      <ul>
        <li><a href="#vision">目指す場所</a></li>
        <li><a href="#place">施設紹介</a></li>
        <li><a href="#gallery">実際の様子</a></li>
        <li><a href="#info">お知らせ</a></li>
        <li><a href="#support">ご支援のお願い</a></li>
        <li><a href="#access">アクセス</a></li>
      </ul>
    </nav>
  </div>
  <div class="footer-column">
    <img src="../../assets/logo.svg" alt="神原にこにこkitchenのロゴ">
    <h6>山口県登録子ども食堂</h6>
    <h2>神原にこにこkitchen</h2>
    <address>〒755-0026 山口県宇部市松山町1-13-22</address>
  </div>
</div>
