<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6"><p class="animate__animated animate__fadeInLeft animate__delay-1s">家事、育児に追われるあなたに寄り添う</p></ion-col>
    <ion-col size="12" size-md="6">
      <div class="animate__animated animate__fadeIn animate__delay-3s">
        <img src="../../assets/mother_top2.png" >
      </div>
    </ion-col>
    <ion-col size="12" size-md="6" push-md="6"><p class="animate__animated animate__fadeInRight animate__delay-1s">どんな子でも居場所ができるそんな食堂</p></ion-col>
    <ion-col size="12" size-md="6" pull-md="6">
      <div class="animate__animated animate__fadeIn animate__delay-3s">
        <img src="../../assets/eating.png" >
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
