
<!-- sm以上のメニュ -->
<ion-header [translucent]="true" class="toolbar">
  <ion-toolbar color="primary">
    <ion-title size="large">神原にこにこkitchen</ion-title>
  </ion-toolbar>
</ion-header>

<!-- sm以下のメニュー -->
<ion-menu side="end" contentId="menu" class="sm-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="full" [routerLink]="['/app-form']">こども食堂へ申し込む</ion-button>
    <app-footer  (menuCloseRequest)="closeMenu()"></app-footer>
  </ion-content>
</ion-menu>
<ion-header class="sm-header">
  <ion-toolbar id="menu" color="primary">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title size="middle">神原にこにこkitchen</ion-title>
  </ion-toolbar>
</ion-header>

<!-- fabボタン -->
<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button style="margin: 10px 0 70px 0;">
      <a (click)="scrollToFragment('top')" >
        <ion-icon name="chevron-up"></ion-icon>
      </a>
    </ion-fab-button>
    <ion-fab-button>
      <a href="https://instagram.com/kamihara_kodomo_nikoniko?igshid=MzRlODBiNWFlZA==" target="_blank" rel="noopener noreferrer">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>


<ion-content [fullscreen]="true">
  <section id="top">
    <img src="../../assets/Vector(main).svg" class="vector-pink animate__animated animate__zoomIn animate__delay-3s">
    <img src="../../assets/Vector(top-green).svg" class="vector-green animate__animated animate__zoomIn animate__delay-3s">
    <img src="../../assets/Vector(top-blue).svg" class="vector-blue  animate__animated animate__zoomIn animate__delay-3s">


    <ion-grid>
      <ion-row>
        <ion-col size="12"><img src="../../assets/BG_SVG/ハンバーグ.svg" style="display: block; width: 30%; margin: 0 10% 0 auto; rotate: 10deg;" class="hamburg animate__animated animate__jackInTheBox animate__delay-5s"></ion-col>
        <ion-col size="12"><img src="../../assets/CHILD_SVG/アセット 7.svg" style="display: block; width: 25%; margin: 0 auto 0 10%;" class="woman1 animate__animated animate__jackInTheBox animate__delay-3s"></ion-col>
        <ion-col size="12"><h1 class="animate__animated animate__fadeInDown animmate__duration-2s animate__delay-1s">ちょっと一息できる場所がここにある</h1></ion-col>
        <ion-col size="12"><img src="../../assets/CHILD_SVG/アセット 10.svg" style="display: block; width: 30%; margin: 0 25% 40px auto;" class="man1 animate__animated animate__jackInTheBox animate__delay-3s"></ion-col>
        <ion-col size="12"><img src="../../assets/BG_SVG/ハンバーガー.svg" style="display: block; width: 30%; margin: 0 auto 0 10%; rotate: 10deg;" class="hamburger animate__animated animate__jackInTheBox animate__delay-3s"></ion-col>
        <ion-col size="12"><img src="../../assets/BG_SVG/シーザーサラダ.svg" style="display: block; width: 30%; margin: 0 5% 0 auto; rotate: -10deg;" class="salad animate__animated animate__jackInTheBox animate__delay-3s"></ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section id="image">
    <app-image></app-image>
  </section>


  <section id="vision">
    <h2>目指す場所</h2>
    <h3>vision</h3>

    <app-vision></app-vision>
    <button [routerLink]="['/app-form']">申し込む</button>

  </section>


  <section id="place" >
    <h2>施設紹介</h2>
    <h3>place</h3>
    <app-article-place></app-article-place>
    <button [routerLink]="['/app-form']">申し込む</button>
  </section>

  <section id="gallery">
    <h2>実際の様子</h2>
    <h3>gallery</h3>
    <div class="gallery-container">
      <app-swiper [slides]="slides"></app-swiper>
      <img class="blue-gallery" src="../../assets/Vector(bule3).svg" >
      <img class="green-gallery" src="../../assets/Vector(green2).svg">
      <img class="pink-gallery" src="../../assets/Vector(pink).svg">
    </div>
    <button [routerLink]="['/app-form']">申し込む</button>
  </section>


  <section id="info">
    <h2>お知らせ</h2>
    <h3>information</h3>

    <img class="yellow" src="../../assets/Vector(yellow).svg">
    <img class="pink-info" src="../../assets/Vector(pink2).svg">
    <ion-card>
      <div class="square">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        <div class="line4"></div>
      </div>
    </ion-card>
  </section>

  <section id="support">
    <app-support></app-support>
  </section>

  <section id="access">
    <h2>アクセス</h2>
    <h3>access</h3>
    <app-google-map></app-google-map>
    <app-access-info></app-access-info>

    <button>申し込む</button>

    <h2 class="exterior">外観</h2>
    <img src="../../assets/外観.svg" alt="神原にこにこkitchenの外観写真">
  </section>


  <footer>
    <app-footer></app-footer>

  </footer>
</ion-content>


