
<!-- sm以上のメニュ -->
<ion-header [translucent]="true" class="toolbar">
  <ion-toolbar color="primary">
    <ion-title size="large">神原にこにこkitchen</ion-title>
  </ion-toolbar>
</ion-header>

<!-- sm以下のメニュー -->
<ion-menu side="end" contentId="menu" class="sm-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="full" [routerLink]="['/app-form']">こども食堂へ申し込む</ion-button>
    <app-footer  (menuCloseRequest)="closeMenu()"></app-footer>
  </ion-content>
</ion-menu>
<ion-header class="sm-header">
  <ion-toolbar id="menu" color="primary">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title size="middle">神原にこにこkitchen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section id="top">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 570 570" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M523.261 177.435C573.724 250.827 577.291 360.842 527.125 434.438C478.264 506.118 377.041 505.933 291.132 517.976C219.149 528.067 140.359 540.697 82.4458 496.773C28.0679 455.53 30.7659 377.727 17.8557 310.71C6.31373 250.796 -11.9107 190.539 12.6968 134.705C40.0092 72.7337 87.0981 5.36602 154.636 0.359601C219.85 -4.4746 247.132 84.642 306.077 112.957C376.841 146.95 478.781 112.746 523.261 177.435Z" fill="#EE9999"/>
    </svg>
    <img src="../../assets/BG_SVG/ハンバーガー.svg" style="scale: 25%;">
    <ion-grid>
      <ion-row class="ion-align-items-center" style="height: 50vh;">
        <ion-col>
          <ion-grid>
            <ion-row class="ion-justify-content-around">
              <ion-col size="12"><h1>神原にこにこkitchen</h1></ion-col>
              <ion-col size="12"><h2>子どもの居場所がここにある</h2></ion-col>
              <ion-col size="5"><p>人とはちょっと違うのかも<br>そんな子どもたちの<br>よりどころを目指して</p></ion-col>
              <ion-col size="5"><p>人とはちょっと違うのかも<br>そんな子どもたちの<br>よりどころを目指して</p></ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>


  <section id="vision">
    <h2>目指す場所</h2>
    <h3>vision</h3>
    <app-vision></app-vision>
    <button [routerLink]="['/app-form']">申し込む</button>

  </section>


  <section id="place" >
    <h2>施設紹介</h2>
    <h3>place</h3>
    <app-article-place></app-article-place>
    <button [routerLink]="['/app-form']">申し込む</button>
  </section>

  <section id="gallery">
    <h2>実際の様子</h2>
    <h3>gallery</h3>
    <div class="gallery-container">
      <app-swiper [slides]="slides"></app-swiper>
      <img class="blue-gallery" src="../../assets/Vector(bule3).svg" >
      <img class="green-gallery" src="../../assets/Vector(green2).svg">
      <img class="pink-gallery" src="../../assets/Vector(pink).svg">
    </div>
    <button [routerLink]="['/app-form']">申し込む</button>
  </section>


  <section id="info">
    <h2>お知らせ</h2>
    <h3>information</h3>

    <img class="yellow" src="../../assets/Vector(yellow).svg">
    <img class="pink-info" src="../../assets/Vector(pink2).svg">
    <ion-card>
      <div class="square">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        <div class="line4"></div>
      </div>
    </ion-card>
  </section>

  <section id="support">
    <app-support></app-support>
  </section>

  <section id="access">
    <h2>アクセス</h2>
    <h3>access</h3>
    <app-google-map></app-google-map>
    <app-access-info></app-access-info>

    <button>申し込む</button>

    <h2 class="exterior">外観</h2>
    <img src="../../assets/外観.svg" alt="神原にこにこkitchenの外観写真">
  </section>


  <footer>
    <app-footer></app-footer>

  </footer>
</ion-content>


