button {
  display: block;
  margin: auto;
  width: 40%;
  height: 35px;
  background-image: linear-gradient(to right, aqua, #1E90FF); /* 左から右へのグラデーション */
  border: 2px solid white;
  border-radius: 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, background-color 0.2s;
}

button:hover {
  transform: scale(1.07);
  background-image: linear-gradient(to right,#3613f9, #1E90FF); /* 左から右へのグラデーション */
  font-weight: 600;
  color: #fff;
}


.toolbar {
  display: none;
}

#top {
  width: 100%;
  height: 844px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.00);
  position: relative;

  .bg-vector1 {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

  .main-text {
    position: absolute;
    top: 25%;
    left: 20%;
    // transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

    h1 {
      color: #000;
      width: 100%;
      font-size: 28px;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 100px;
    }

    .main-text-div {
      width: 80%;
      height: 3rem;
      margin: auto;
      display: flex;
      align-items: center;
      border-radius: 25.5px;
      background: #1440DD;
    }

    .main-text-div h2 {
      color: #fff;
      font-size: 20px;
      font-weight: 550;
      line-height: normal;
      margin: auto;
    }
  }

  > p {
    width: 80%;
    position: absolute;
    font-weight: 400;
    font-size: 22px;
    top:75%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

#vision {
  position: relative;
  padding-top: 30px;
  }

#place {
  height: auto;
  position: relative;
}

#gallery {
  height: auto;
  flex-shrink: 0;

  .gallery-container {
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 400px;

    > img {
      position: absolute;
      scale: 50%;
      width: auto;
      height: 100vh; /* アスペクト比を保ったまま高さを自動調整 */
      transform: none;
    }
    .pink-gallery {
      top: -20%;
      left: -20%;
    }
    .green-gallery {
      scale: 35%;
      top: -20%;
      left: 25%;
    }
    .blue-gallery {
      top: -50%;
      left: 15%;
    }
  }



}

#info {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 150px;
  z-index: 0;

  > h2, h3 {
    position: relative;
    z-index: 2;
  }

  > img {
    position: absolute;
    scale: 80%;
  }

  .yellow {
    top: 0%;
    z-index: 1;
  }

  .pink-info {
    top: 55%;
    left: 50%;
  }

  > ion-card {
    display: flex;
    margin: auto;
    width: 60%;
    height: 280px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    z-index: 3;

    .square {
      flex: 1 0 0;
      align-self: stretch;
      border-radius: 10px;
      background: #FFF8E1;
    }
  }

}

#support {
  position: relative;
}

#access {
  .access-info {
    background-color: #fff;
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;

    > ul {
      > li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 30px 0 30px 10px;
        gap: 35px;

        h4, p {
          font-size: 1.3rem;
          margin: 0;
        }

        h4 {
          width: 40px;
          color: #DC2626;
        }
        p {
          margin-right: auto;
        }
      }
    }
  }

  .exterior {
    margin: 40px 0 40px 0;
  }

  img {
    width: 100%;
  }




}

footer {
  background-color: #ffddb9;
  .footer-container {
    .site-map {
      padding: 20px 15px 15px 15px;
      h2 {
        text-align: left;
        font-size: 1.5rem;
      }
      li {
        width: 90%;
        margin: auto;
        font-size: 1.4rem;
        padding: 10px;
        border-bottom: 0.4px dashed black;
      }
    }
  }
  .footer-column {
    padding-bottom: 40px;
    text-align: center;

    h6 {
      font-size: 12px;
    }

    h2 {
      color:#bb0000;
      font-weight: 500;
      font-family: ab-kotatsu, sans-serif;
      font-style: normal;
    }

  }
}





@media screen and (min-width: 577px) and (max-width: 767px){
  .global-nav {
    padding: 0;
    list-style: none;  /* リストマーカーを削除 */
    display: flex; /* li要素を横一列に配置 */
  }

  .global-nav li {
    margin: 0; /* 外側の余白を削除 */
    padding: 0; /* 内側の余白を削除 */
    margin-right: 10px; /* li要素の間隔を調整 */
  }

  .global-nav li a {
    /* リンクのスタイルを追加または上書きする */
    /* 例: */
    text-decoration: none; /* 下線を削除 */
    color: #000; /* リンクの色を指定 */
  }
}


@media screen and (min-width: 768px){

}

